body {
  background: #1F2937;
  font-family: 'Poppins';
  color: #fff;
  padding-bottom: 3rem;
}

.nav-link {
  color: #FFF!important;
  font-size: 22px;
  font-weight: 300;
  margin: 0px 30px;
}

.nav-link:hover {
  color: #b7b7b7!important;
}

.button {
  background: #4F46E5;
  border: none;
  color: #fff;
  padding: 6px 50px;
  border-radius: 8px;
  font-size: 22px;
}

.navbar {
  padding-top: 1.5rem!important;
}

.header {
  background: #6366F1;
  padding-bottom: 4rem;
  /*margin-top: -10px;*/
}

.page-title {
  text-align: center;
  font-size: 44px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: 4rem;
}

.page-desc {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  margin: auto;
  max-width: 650px;
}

.navbar-toggler {
  opacity: 1!important;
  color: #fff!important;
  border-color: #fff!important;
}

.navbar-toggler-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(121deg) brightness(108%) contrast(103%);
}

@media (max-width: 600px) {
  .page-desc {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .page-title {
    padding: 10px;
    font-size: 40px;
  }
}

.navbar-collapse {
  text-align: center;
  margin: 20px;
}

.recent-div {
  background: #1C2532;
  padding: 30px;
  border-radius: 8px;
}

.section-title {
  font-size: 24px;
  font-weight: 400;
  background: #222C3B;
  border-radius: 8px;
  padding: 5px 15px;
}

.section-desc {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 28px;
}

.grey {
  color: #B6B6B6;
}

.section-title.bottom {
  margin-top: 2rem;
}

.section-article-name {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-top: 15px;
  text-decoration: none!important;
  color: #fff!important;
  margin-bottom: 5px;
}

.section-hr {
  margin: 0px;
  height: 2px!important;
}

.name-div {
  margin-top: 15px;
}

.section-article-name:hover {
  color: #b6b6b6!important;
}

.blog-main-div {
  background: #1C2532;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  max-width: 800px;
}

.blog-main-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.blog-main-date {
  font-size: 18px;
  font-weight: 300;
}

.blog-main-hr {
  background: #4f46e5;
  max-width: 150px;
  height: 2px!important;
  opacity: 1!important;
}

.blog-main-desc {
  font-size: 18px;
  font-weight: 200;
  line-height: 35px;
  letter-spacing: 0.3px;
  margin-top: 1.5rem;
}

.continue-button {
  background: #4f46e5;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 15px;
  border-radius: 8px;
  letter-spacing: 0px;
  margin-top: 1rem;
}

.continue-button:hover {
  background: #3f37c9;
}

.button:hover {
  background: #3f37c9;
}

.page-item {
}

.page-link {
  background: #1C2532!important;
  margin: 5px;
  border-radius: 8px!important;
  color: #fff!important;
  border: 2px solid #2b374a;
}

.page-link:hover {
  background: #222d3e!important;
  border: 2px solid #2b374a;
}

.blog-main-div.second {
  max-width: 100%;
}

